
@model IEnumerable<AcademiaLevel2.Models.Post>
@{
    ViewBag.Title = "Posts";
}


    <div class="room" id="PostContainer">
        <post-component></post-component>
    </div>
 
  







    @*<div ng-controller="DemoCtrl">
            <input type="text"/>
            {{posts[0].description}}
            <ul>
                <li ng-repeat="post in posts.data">
                    <span>{{post.Title}}</span>
                    <p>{{post.IdUser.Email}}</p>
                </li>
            </ul>
            <p>Count: {{posts.data.length}}</p>
            <p>{{today | date:'dd/MM/yyyy'}}</p>
        </div>*@
















