@model IEnumerable<AcademiaLevel2.Models.Post>
@{
    ViewBag.Title = "Post";
}
@Styles.Render("~/Content/Post/css")

<div class="room">
    <div class="room-title">
        <p class="title">Title<p />
        <input id="Title" class="input-title" type="text" name="Title">
    </div>
    <div class="room-description">
        <p class="title">Description<p />
        <textarea id="Description" class="input-description" type="datetime" name="Description"></textarea>
        <button id="send" class="button-send" type="submit">
            Send
        </button>
    </div>
</div>
<h1>{{2+2}}</h1>

@Html.Partial("IndexPartialView")








@*<body ng-repeat="">
    <h1>{{title}}</h1>
    <div ng-controller="PhoneListCtrl">       
        <h1>{{title}}</h1>

        <ul>
            <li ng-repeat="post in posts.data">
                <span>{{post.IdUser.firstName}}</span>
                <p>
                    {{post.Title}}<br />                    
                    {{post.Description}}
                </p>
            </li>            
        </ul>
        <p>Кількість постів: {{posts.data.length}}</p>
        <hr />
        {{today | date:'dd/MM/yyyy'}}    
    </div>
</body>*@



    




