<br />
<div ng-repeat="post in $ctrl.servis.postResults"> 
    <div id="{{post.Id}}" class="room-comment">
        <br />
        <p class="text-name"> {{post.IdUser.firstName}} {{post.IdUser.lastName}} </p>
        <button type="submit" id="edit-@item.Id" class="button-edit btn btn-success button">Edit</button>
        <h6></h6>
        <button type="submit" id="delete-@item.Id" class="button-del btn btn-success button">Delete</button>
        <p class="text-date"> {{post.Date | date:'dd/MM/yyyy'}} </p>
        <center id="title-@item.Id" class="text-title">{{post.Title}}</center>
        <br />
        <p id="description-@item.Id" class="text-name">{{post.Description}}</p>
    </div>
</div>
<br />
<post-loader></post-loader>




<!--<div ng-repeat="p in $ctrl.servis.postResults">
    <div class="well post" id="{{p.Id}}">
        <h5>
            {{p.ApplicationUserId.FirstName}} {{p.ApplicationUserId.LastName}}
            <span class="pull-right">
                <button ng-click="$ctrl.open()" class="btn btn-primary">Редагувати</button>
                <button ng-click="$ctrl.deleteResults(p.Id)" class="btn btn-primary">Видалити</button>
            </span>
        </h5>
        <h6>  <span class="text-left">{{p.Time | date:'medium'}} </span> </h6>
        <div class="text-center"><h3><strong>{{p.Title}}</strong></h3></div>
        <h6>{{p.Content}}</h6>

    </div>
    <post-loader></post-loader>
</div>-->
