<br />

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">EDIT POST</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title:</label>
            <input type="text" ng-model="title" class="form-control">
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea type="text" ng-model="description" class="form-control"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>

<div ng-repeat="post in $ctrl.servis.postResults"> 
        <!--<div id="{{post.Id}}" class="room-comment">
            <br />
            <p class="text-name"> {{post.IdUser.firstName}} {{post.IdUser.lastName}} </p>
            <button ng-click="$ctrl.open(post.Id)" class="button-edit btn btn-success button">Edit</button>
            <h6></h6>
            <button ng-click="$ctrl.deleteResults(post.Id)" class="button-del btn btn-success button">Delete</button>
            <p class="text-date"> {{post.Date | date:'dd/MM/yyyy'}} </p>
            <center id="title-{{post.Id}}" class="text-title">{{post.Title}}</center>
            <br />
            <p id="description-{{post.Id}}" class="text-name">{{post.Description}}</p>
            <br />
            <br />
            <div>
                <p ng-click="$ctrl.disLike(post.Id)" ng-show="post.isLike" class="glyphicon glyphicon-heart" style="color:red"></p>
                <p ng-click="$ctrl.like(post.Id)" ng-show="!post.isLike" class="glyphicon glyphicon-heart-empty"></p>
                {{post.likes.length}}
            </div>
        </div>-->
  

    <div id="{{post.Id}}" class="room-comment">
        <br />
        <p class="text-name"> {{post.IdUser.firstName}} {{post.IdUser.lastName}} </p>
        <button  ng-click="$ctrl.open(post.Id)" class="button-edit btn btn-success button">Edit</button>
        <button ng-click="$ctrl.deleteResults(post.Id)" class="button-del btn btn-success button">Delete</button>
        <p class="text-date"> {{post.Date | date:'dd/MM/yyyy'}} </p>
        <center id="title-{{post.Id}}" class="text-title">{{post.Title}}</center>
        <textarea  id="description-{{post.Id}}" class="room-description">{{post.Description}}</textarea>
      
        <div class="like">
            <p ng-click="$ctrl.disLike(post.Id)" ng-show="post.isLike" class="glyphicon glyphicon-heart" style="color:red"></p>
            <p ng-click="$ctrl.like(post.Id)" ng-show="!post.isLike" class="glyphicon glyphicon-heart-empty"></p>
            {{post.likes.length}}
        </div>
  

    </div>   
</div>
<br />
<post-loader></post-loader>


